* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

button,
button:active,
button:focus {
  outline: none !important;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  max-width: 1920px;
  margin: 0 auto;
  min-width: 320px;
}

.h1 {
  position: relative;
  font-family: 'BannyRound', sans-serif;
  font-size: 96px;
  text-transform: uppercase;
  color: #fff;
}

.yellowline::after {
  content: '';
  position: absolute;
  width: 60px;
  height: 5px;
  background: #E8C300;
  border-radius: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.section-title {
  position: relative;
  font-family: 'BannyRound', sans-serif;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.section-subtitle {
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 15px;
}

.section-smalltitle {
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  line-height: 0;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  color: #fff;
}

.section-smalltitle_grey {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: rgba(51, 51, 51, 0.5);
  border-radius: 5px;
  text-decoration: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.border::after {
  content: '';
  width: 1px;
  height: calc(100% - 200px);
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.border::before {
  content: '';
  position: absolute;
  top: 101px;
  height: calc(100% - 101px);
  max-width: 850px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 9;
}

.button {
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  color: #FFFFFF;
  border-radius: 5px;
  background-color: #E8C300;
  border: none;
  width: 200px;
  height: 60px;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all;
}

.inner__btn-t {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.inner__cocial {
  position: absolute;
  top: 339px;
  right: 0;
}

.cocialmedia {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
  cursor: pointer;
  -webkit-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all;
}

.cocialmedia:hover {
  background: #E8C300;
}

.cocialmedia:hover .icon-cocial {
  -webkit-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all;
}

.icon-cocial {
  fill: #fff;
  max-width: 20px;
  max-height: 20px;
}

.bold_text {
  font-weight: bold;
}

.telephones {
  -webkit-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all;
}

.telephones:hover {
  color: #E8C300;
}

/* Webfont: Banny-Round */
@font-face {
  font-family: 'BannyRound';
  src: url("../fonts/Banny-Round.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Banny-Round.eot?#iefix") format("embedded-opentype"), url("../fonts/Banny-Round.woff") format("woff"), url("../fonts/Banny-Round.ttf") format("truetype"), url("../fonts/Banny-Round.svg#Banny-Round") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Banny-BoldRound */
@font-face {
  font-family: 'BannyRound';
  src: url("../fonts/Banny-BoldRound.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Banny-BoldRound.eot?#iefix") format("embedded-opentype"), url("../fonts/Banny-BoldRound.woff") format("woff"), url("../fonts/Banny-BoldRound.ttf") format("truetype"), url("../fonts/Banny-BoldRound.svg#Banny-BoldRound") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

.header {
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
}

.header__logo {
  position: absolute;
  left: 0;
  right: 0;
  padding-top: 25px;
  width: 150px;
  margin: 0 auto;
  display: block;
}

.header__logo img {
  max-width: 100%;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.header__logo img:hover {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.header__menu {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__list {
  width: 41%;
  height: 100px;
  padding: 0 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header__list li {
  list-style: none;
  margin: 0 10px;
}

.header__link {
  text-decoration: none;
  color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  -webkit-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all;
}

.header__link:hover {
  color: #E8C300;
}

.head {
  position: relative;
  top: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../img/header-bg1.jpg") center/cover no-repeat;
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/header-bg1.jpg") center/cover no-repeat;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/header-bg1.jpg") center/cover no-repeat;
  min-height: 100vh;
  z-index: 2;
}

.inner {
  position: relative;
  text-align: center;
  padding-top: 325px;
  z-index: 10;
}

.inner__btn {
  margin: 30px 20px 0 20px;
}

.button__circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 80px auto 0;
  width: 60px;
  height: 60px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  -webkit-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all;
}

.circle-mini {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  -webkit-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all;
}

.button__circle:hover .circle-mini {
  background: #E8C300;
}

.inner__timetable {
  position: absolute;
  top: 445px;
  left: -115px;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  color: #FFFFFF;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.about {
  padding: 50px 0;
  min-height: 475px;
  margin: 0 -40px;
}

.about__figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  margin: 0 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  margin: 0 40px;
}

.about__image {
  width: 475px;
  height: 475px;
}

.about__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.yellow-square::before {
  content: '';
  position: absolute;
  width: 250px;
  height: 250px;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto 0;
  border: 20px solid #E8C300;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.yellow-square-l::before {
  content: '';
  position: absolute;
  width: 250px;
  height: 250px;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto 0;
  border: 20px solid #E8C300;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.team {
  display: block;
  position: relative;
  top: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../img/specialty-bg.jpg") center/cover no-repeat;
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/specialty-bg.jpg") center/cover no-repeat;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/specialty-bg.jpg") center/cover no-repeat;
}

.team__figure {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  color: #fff;
  opacity: .9;
}

.team__img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.team__title {
  color: #fff;
}

.team__subtitle {
  color: #fff;
}

.team__body {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.booking__form-wrap {
  width: 100%;
}

.form__booking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.booking__btn {
  width: 100%;
  margin: 5px;
}

.booking__btn:hover {
  background-color: transparent;
  border: 1px solid black;
  color: #000;
}

.input-name, .form__list {
  width: calc(50% - 10px);
  height: 60px;
  margin: 5px;
}

input {
  width: 100%;
  height: 100%;
  background: #E5E5E5;
  border-radius: 5px;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  color: rgba(51, 51, 51, 0.5);
}

.form__booking input {
  padding: 0 50px 0 20px;
}

select {
  padding: 0 50px 0 20px;
  width: 100%;
  height: 100%;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  border-right: 10px solid #E5E5E5;
  background: #E5E5E5;
  border-radius: 5px;
  color: rgba(51, 51, 51, 0.5);
}

option {
  background: olive -webkit-gradient(linear, left top, left bottom, from(olive), to(olive));
  background: olive -o-linear-gradient(olive, olive);
  background: olive linear-gradient(olive, olive);
  color: cyan;
}

option:hover {
  border: none;
  background: olive -webkit-gradient(linear, left top, left bottom, from(olive), to(olive)) !important;
  background: olive -o-linear-gradient(olive, olive) !important;
  background: olive linear-gradient(olive, olive) !important;
  color: cyan;
}

option:focus {
  background: olive -webkit-gradient(linear, left top, left bottom, from(olive), to(olive)) !important;
  background: olive -o-linear-gradient(olive, olive) !important;
  background: olive linear-gradient(olive, olive) !important;
  color: cyan;
}

option:active {
  background: olive -webkit-gradient(linear, left top, left bottom, from(olive), to(olive)) !important;
  background: olive -o-linear-gradient(olive, olive) !important;
  background: olive linear-gradient(olive, olive) !important;
  color: cyan;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 45px;
  left: 0;
  right: 0;
}

.slick-dots li {
  list-style: none;
  margin: 0 10px;
}

.slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  opacity: 0.5;
  outline: none;
}

.slick-dots li.slick-active button {
  opacity: 1;
}

.about-slide {
  background: url("../img/specialty-bg4.jpg");
  margin: 0;
}

.slider {
  position: relative;
  margin: 0 -40px;
}

.menu {
  padding-top: 100px;
}

.menu__subtitle {
  text-align: center;
}

.tabs__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.tabs__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  text-decoration: none;
}

.tabs__block {
  font-size: 18px;
  display: none;
  position: relative;
}

.tabs__block:nth-child(1) {
  border: 1px solid #925050;
}

.tabs__block:nth-child(2) {
  border: 1px solid #5a8635;
}

.tabs__block:nth-child(3) {
  border: 1px solid #265861;
}

.tabs__block:nth-child(4) {
  border: 1px solid #4b3d5e;
}

.tabs__block:nth-child(5) {
  border: 1px solid #c42988;
}

.tabs__block:nth-child(6) {
  border: 1px solid #e76531;
}

.tabs__block:nth-child(7) {
  border: 1px solid #080cf7;
}

.tabs__block:target {
  display: block;
}

.tabs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -50px;
}

.tabs__list li {
  width: 33.3333%;
  padding: 25px 50px 0 50px;
  list-style: none;
  text-transform: uppercase;
}

.tabs__link {
  font-size: 18px;
  text-decoration: none;
  color: #333;
  font-family: 'BannyRound', sans-serif;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.tabs__link div {
  font-family: 'BannyRound', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tabs__link div:hover {
  opacity: 0.5;
}

.tabs__link-smalltext {
  margin-top: -4px;
  display: block;
  font-size: 12px;
  color: #333;
  opacity: 0.5;
  text-transform: none;
}

.tabs__link:hover {
  opacity: 0.5;
}

.gallery {
  margin-top: 100px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../img/specialty-bg4.jpg");
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/specialty-bg4.jpg");
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/specialty-bg4.jpg");
}

.gallery__img-left {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.gallery__img-right {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.gallery__slider {
  margin: 0 -40px;
}

.gallery__item {
  width: 360px;
  padding-bottom: 100%;
  position: relative;
}

.gallery__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.contacts__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 5px;
}

.contacts {
  padding-top: 100px;
}

.contacts__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -5px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contacts-input {
  width: 33.333%;
  padding: 5px;
}

.contacts-input input {
  padding: 20px 10px;
}

.contacts-input-big {
  width: 100%;
  padding: 5px;
}

.contacts-input-big textarea {
  width: 100%;
  height: 120px;
  resize: none;
  background: #E5E5E5;
  border-radius: 5px;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  color: rgba(51, 51, 51, 0.5);
  padding: 5px;
}

.contacts__btn {
  width: 50%;
}

.contacts-tel {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 20px;
}

.map, .mail, .tel {
  position: relative;
  padding-left: 35px;
}

.contacts .icon {
  position: absolute;
  top: 0;
  left: 12px;
  width: 18px;
  height: 18px;
  color: #E8C300;
  fill: currentColor;
}

.contacts-tel .section-smalltitle_grey {
  line-height: normal;
}

.container__map {
  margin-top: 100px;
  padding-bottom: 30%;
  position: relative;
}

.container__map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #333;
}

.footer {
  background: rgba(0, 0, 0, 0.9);
  padding: 45px 0;
  font-size: 12px;
  line-height: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgba(255, 255, 255, 0.5);
}

.footer span {
  font-weight: bold;
  padding: 0 8px 0 5px;
}
